.experience{
  padding: 40px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experience .subtitle{
  color: #E0E0E0;
}

.experience .jobs-experience{
  margin-top: 30px;
}

.experience .list-jobs {
  display: grid;
  gap: 20px;
  position: relative;
}

.experience .list-jobs li::before{
  content: '';
  display: block;
  width: 4px;
  height: 20px;
  background:linear-gradient(180deg, #B6F829 0%, #67DD0A 100%);
  position: absolute;
  top: 15px;
  left: -4px;
}

.experience .list-jobs > li{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 60px;
  background-color: #F0F0F0;
  padding: 15px;
  border-radius: 10px;
  position: relative;
}

.experience .list-jobs li .year-job{
  position: absolute;
  left: -100px;
  top: 15px;
  width: 80px;
  text-align: right;
}

.experience .list-jobs .name-job{
  font-size: 1.125rem;
  color: #000;
  font-weight: bold;
  margin-bottom: 10px;
}

.experience .list-jobs .description-job{
  color:#525252;
  font: 0.875rem;
  line-height: 1.5;
}

.experience .list-jobs .list-technologies{
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  gap: 10px;
}

.experience .list-jobs .list-technologies li{
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.875rem;
}

@media(max-width: 800px){
  .experience{
    display: grid;
    grid-template-columns: 1fr;
    gap: 80px;
  }

  .experience .list-jobs > li{
    grid-template-columns: 1fr;
  }
  
  .experience .jobs-experience{
    padding: 0;
  }

  .experience .list-jobs li .year-job{
    position: initial;
    order: 1;
    margin-top: 15px;
    text-align: left;
  }
}

@media(max-width: 600px){
  .experience{
    padding: 20px;
    gap: 40px;
  }
}